body
{
 background-size: cover;
 background-position: center;
}
#head
{
    color:rgb(255, 247, 0);
}
.bed_room
{
    font-size: 20px;
    width: 30%;
    margin: 0px;
    color: black;
}
.bottles
{
    font-size: 20px;
    width: 30%;
    margin: 0px;
    color: black;
}
.tv_ac
{
    font-size: 20px;
    width: 30%;
    margin: 0px;
    color: black;
}
.laptop_mobile
{
    font-size: 20px;
    width: 30%;
    margin: 0px;
    color: black;
}
.cars
{
    font-size: 20px;
    width: 30%;
    margin: 0px;
    color: black;
}